<br>
<div class="ui container"> 
  <h1>Blogs</h1>
  
  <%= form_tag blogs_path, method: :get, class: 'ui form' do %>
    <div class="fields">
      <div class="ui input">
        <%= text_field_tag :title, nil, placeholder: 'Search Blog Title', class: 'field' %>
      </div>
      <%= submit_tag "Search", class: 'ui button' %>
    </div>
  <% end %>
  <br>
  <div class="ui dropdown labeled icon button">
    <i class="filter icon"></i>
    <span class="text">Sort post by created date</span>
      <div class="menu">
        <%= link_to 'Ascending', blogs_path(sort_type: 'Ascending'), class: 'item' %>
        <%= link_to 'Descending', blogs_path(sort_type: 'Descending'), class: 'item' %>
      </div>
  </div>
  
  <br>
  <br>
  <%= link_to 'Create new blog', new_blog_path, class: 'ui primary button' %>
  <br>
  <br>
  <% if @blogs.empty? %>
    <h2 style="color:red;"> Sorry, the resource is not found </h2>
  <% else %>
    <div class="ui two cards">
      <%= render @blogs %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>