<div class="ui top fixed large inverted borderless menu">
  <%= link_to "Home", root_path, class: 'item' %>
  <p class="item"></p>
  <% if current_user %>
    <div class="item"> <%= current_user.full_name %> </div>
    <p class="item"></p>
    <%= link_to 'Sign Out', signout_path, method: 'delete', class: 'item' %>
  <% else %>
    <%= link_to 'Sign In', signin_path, class: 'item', id: "sign_in_modal" %>
  <% end %>
</div>
<br>
<br>

<div class="ui small modal">
  <h3 class="ui icon header">Sign in to your account</h3>
  <div class="content">
    <div class="ui large form">
      <%= render 'sessions/form' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#sign_in_modal").click(function(event){
    event.preventDefault();
    $('.small.modal').modal('show');
  });
</script>

<%= flash_messages %>